.container {
    width: 1366px;
    height: 768px;
    background: url(../img/background.jpg);
    padding: 45px 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

.header:after{
    display: table;
    content: '';
    clear: both;
}

.header-logo{
    color: white;
    width: 210px;
    vertical-align: middle;
    float: left;

}

.header-logo a, .main-content a{
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.logo-sprite{
    float: left;
    width: 46px;
    height: 44px;
    padding-right: 10px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.header-logo p{
    display: inline-block;
    clear: left;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    text-align: left;
    line-height: 21px;
}

span{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact{
    float: right;
    color:  #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.main-content figure{
    float: left;
    width: calc(87.9%/3);
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.main-content figure:nth-child(3n-1){
    margin-left: 64px;
    margin-right: 64px;
}

.main-content figure figcaption{
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.main-content img{
    box-sizing: border-box;
    box-shadow: 0px 17px 24px 0px #000;
    width: 312px;
    height: 205px;
    display: inline-block;
    border: 2px solid;
    border-image: linear-gradient(0deg, #000, #fff);
    border-image-slice: 1;
}

.main-content-tooltip {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 63px;
    background-color: #f26522;
    padding: 15px 0;
    transition: all 0.4s linear;
    opacity: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.main-content-tooltip > p{
    text-align: left;
    font-size: 10px;
    padding-left: 20px;
}

.main-content-tooltip img{
    height: 10px;
    width: 10px;
    border: none;
    box-shadow: none;
}

.main-content:after{
    display: table;
    content: '';
    clear: both;
}

.description{
    padding: 0px 20px;
    line-height: 21px;
}

.description p:first-child{
    float: left;
    font-size: 20px;
}

.description p:last-child{
    float: right;
    font-size: 14px;
}

.description:after{
    display: table;
    content: '';
    clear: both;
}

.main-content figure:hover figcaption{
    color: #f26522;
}

.main-content figure:hover .main-content-tooltip{
    opacity: 1;
    bottom: 38px;
}

.header-logo:hover p{
    color: #f26522;
}

.header-logo:hover .logo-sprite{
    width: 46px;
    height: 44px;
    background-position: -60px -5px;
}

.footer{
    margin: 30px auto 15px ;
}

.footer p{
    font-family: Verdana, sans-serif;
    color:  #fff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}